.dart_tool/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
web/flutter_service_worker.js
backend/node_modules/
backend/dist/
backend/.env
.env
